<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>発注CSV変換</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .title1{
            text-shadow:1.1px 1.1px #808080;
        }
        .flex-all {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 1em;
        }
        .flex{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-right: 1em;
        }
        .syudou{
            border-bottom: 2px solid rgb(232, 10, 10);
            color:rgb(232, 10, 10);
            padding:2px;
            font-weight: bolder;
        }
        .zidou{
            border-bottom: 2px solid rgb(54, 129, 54);
            color:rgb(54, 129, 54);
            padding:2px;
            font-weight: bolder;
        }
        #maker_list {
            padding-left: 10px;
        }
        .drop_area{
            border: 0px;
        }
        .enter {
            border: 3px solid gray;
            border-radius: 10px;
        }
    </style>

</head>
<body>
    <div class="container mt-5 bt-5" style="width: 70%">

        <div class="row">
            <div class="col"><h3 class="title1">■ メーカー発注用_CSV変換</h3></div>
            <div class="col" style="text-align: right;">
                <a href="{% url 'master_kanri' %}" target="_blank"><button class="btn btn-secondary">マスタ管理</button></a>
            </div>
        </div>

        <div id="mess">
        {% for message in  messages %}
            {% if forloop.first %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <p><div class="alert alert-success" role="alert">{{message}}</div></p>
                    
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <p><div style="color: red;">{{message}}</div></p>
                    <br>
                    <!--<p><div class="alert alert-warning" role="alert">{{message}}</div></p>-->
                {% else %}
                    <p><div class="alert alert-danger" role="alert">{{message}}</div></p>
                    
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>

        <!-- インポート -->
        <form action="{% url 'csv_import' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3" style="font-size: 130%;">
                <label for="formFile" class="form-label">※対応メーカー：
                    <a href="https://shop.tomswear.com/front/app/common/login/" target="_blank">TOMS</a> / 
                    <a href="https://cabclothing.jp/" target="_blank">CAB</a> / 
                    <a href="http://felicol.asg-web.com/login/login.html" target="_blank">フェリック</a> / 
                    <a href="https://www.lifemaxonline.com/login" target="_blank">ボンマックス</a> / 
                    <a href="https://order.shoeisilk.com/mypage/login.php?transactionid=7e28dac516b0e3754f3db6c5cb3b103b3f40fd1a" target="_blank">松栄シルク</a> / 
                    <a href="https://markless.jp/" target="_blank">トレードワークス</a>
                </label>

                <div id="app">
                    <div class="drop_area" @dragenter="dragEnter" @dragleave="dragLeave" :class="{enter: isEnter}">
                        <input class="form-control form-control-lg"  style="height: 100px;" type="file" id="formFile" name="csv2">
                    </div>
                </div>
            </div>
            <div class="flex-all">


                <div class="flex" id="sentaku">ファイル未選択：</div>


                <div class="flex" id="maker_list" style="margin-left: -10px;">
                    <select name="メーカー" class="form-select" aria-label="Default select example" style="width: 140px;">
                        <option value="トムス(株)">TOMS</option>
                        <option value="キャブ(株)">CAB</option>
                        <option value="フェリック(株)">フェリック</option>
                        <option value="(株)ボンマックス">ボンマックス</option>
                        <option value="株式会社松栄シルク">松栄シルク</option>
                        <option value="(株)トレードワークス">トレードワークス</option>
                    </select>
                </div>
                <div class="flex">
                    <button class="btn btn-primary" type="submit">変換</button>
                </div>
            </div>
        </form>

        <!-- JavaScript -->
        <script>
            const app = new Vue({
                el: "#app",
                data: {
                    isEnter: false
                },
                methods: {
                    dragEnter() {
                        this.isEnter = true;
                    },
                    dragLeave() {
                        this.isEnter = false;
                    },
                }
            })
        </script>

        <script>
            document.getElementById("maker_list").style.display="none";
            document.getElementById("mess").style.visibility="visible";
            function inputChange(){
                var files = fileBox.files;
                var filename = files[0].name;
                var maker = filename.split("_");
                var maker_list = document.getElementById("maker_list");
                var sentaku = document.getElementById("sentaku");
                var mess = document.getElementById("mess");
                var kekka
                var list=["トムス(株)","キャブ(株)","フェリック(株)","(株)ボンマックス","株式会社松栄シルク","(株)トレードワークス"]

                // ファイルの有無
                if (files.count != 0){
                    mess.style.visibility="hidden";
                }

                // ファイル名から判断
                if (list.includes(maker[0])){
                    // 自動                 
                    maker_list.style.display="none";
                    kekka="<span class='zidou'>自動判別</span>";                 
                } else {
                    //手動
                    maker_list.style.display="block";
                    kekka="<span class='syudou'>手動選択</span>";
                }
                
                sentaku.innerHTML=kekka;
                
            }
            var fileBox = document.getElementById('formFile');
            fileBox.addEventListener('change', inputChange);
        </script>
        <!-- ここまで -->
        
        <hr>
        <p>対象ファイル：{{filename}}</p>
        <p>変換形式：{{maker}}</p>
        <p>見積番号：{{mitsumori}}</p>
        <table class="table table-bordered">
            <tr>
                <th style="text-align: center;">商品詳細</th>
                <th style="text-align: center;">数量</th>
                <th style="text-align: center;">発注SKU</th>
            </tr>
            {% for key,value in dict.items %}
                {% if value.sku in err %}
                <tr style="background: lightcoral;">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{value.hinmei}}</td>
                    <td style="text-align: center;">{{value.num}}</td>
                    <td style="text-align: center;">{{value.sku}}</td>
                </tr>
            {% endfor %}
        </table>


        <!-- CSVダウンロード -->
        {% if reset == "OK" %}
        <script>location.href="{% url 'csv_export' %}";</script>
        {% endif %}

    </div>

</body>
</html>