<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>マスタ管理</title>
    <style>
        .title1{
            text-shadow:1.1px 1.1px #808080;
        }
        .container{
            width: 800px;
        }

        .back1{
            background: rgb(250, 209, 222);
            padding: 10px 10px 20px 10px;
        }
        .back2{
            background: white;
            padding: 15px;
            margin-top: 10px;
        }
        .back3{
            background: rgb(215, 248, 186);
            padding: 10px 10px 20px 10px;
        }
        h1{ 
            font-size: 15pt;
            font-weight: normal;
        }
        h2{ 
            font-size: 1.1em;
            font-weight: normal;
        }
        hr{
            margin: 0.2em 0 1em;
            /* ※左…上の余白、中央…左右の余白、右…下の余白※ */
        }
        .form1{
            position: relative;
            width: 100%;
            max-width: 800px;           
        }
        .reset_btn{
            position: absolute;
            bottom: 0;
            left: 100px;
        }
        .flex-all {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 1em;
        }
        #syudou .flex-all{
            align-items: flex-start;
        }
        .flex{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-right: 1em;
        }
        .flex div{padding: 0.2em;}

    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col"><h3 class="title1">■ マスタ管理</h3></div>
            <div class="col" style="text-align: right;">
                <a href="javascript:;" onclick="window.close();">閉じる</a>
            </div>
        </div>
        
        <!-- CAB -->
        <div class="back1 mt-3">
            <h1>1. CAB</h1>
            <hr>
            <!-- CSV方式 -->
            <div class="back2">               
                <h2>CSVインポート</h2>
                <hr>
                <span style="color: red;">{{csv_message}}</span>
                <form action="{% url 'master' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-8"><input class="form-control form-control" type="file" name="csv"></div>
                    <div class="col"><button class="btn btn-primary" type="submit">取込</button></div>
                    </div>
                </form>
            </div>
            <!-- 手動方式-->
            <div class="back2 mt-4">
                <h2>手動登録 / 修正</h2>
                <hr>              
                <div style="margin-left: 5px;">

                    <form action="{% url 'master2' %}" method="post" class="border border-secondary border-2" style="padding: 20px;width: 70%;">
                        {% csrf_token %}
                        <label for="jan">JANコードを入力してください：</label>
                        <input type="text" name="jan" id="jan">
                        <button type="submit">確認</button>
                    </form>

                    
                    <div class="form1 mt-3">
                        {% if message %}
                        <p class="mt-2" style="color: red;">{{message}}</p>
                        {% endif %}

                        <form action="{% url 'master3' %}" method="post">
                            {% csrf_token %}
                            <div class="flex-all">
                                <div class="flex">
                                    <div><label>JANコード:</label></div>
                                    <div style="width: 170px;">{{form2.jan}}</div>
                                </div>
                                <div class="flex">
                                    <div>品番:</div>
                                    <div style="width: 80px;">{{form2.hinban}}</div>
                                </div>
                                <div class="flex">
                                    <div>型番:</div>
                                    <div style="width: 80px;">{{form2.kataban}}</div>
                                </div>
                            </div>
                            <div style="margin-left: 15px;">
                                <button class="btn btn-primary" type="submit">登録</button>
                            </div>
                        </form>
                            <div class="reset_btn">
                                <a href="{% url 'master_kanri' %}"><button class="btn btn-secondary">リセット</button></a>
                            </div>
                    </div>
      
                </div>
            </div>
        </div>

        <!-- トレードワークス -->
        <div class="back3 mt-5">
            <h1>2. トレードワークス</h1>
            <hr>
            <!-- CSV方式 品番 -->
            <div class="back2">               
                <h2>【品番】 CSVインポート</h2>
                <hr>
                <span style="color: red;">{{csv_message2}}</span>
                <form action="{% url 'trade_hinban' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-8"><input class="form-control form-control" type="file" name="csv"></div>
                    <div class="col"><button class="btn btn-primary" type="submit">取込</button></div>
                    </div>
                </form>
            </div>

            <!-- CSV方式 拠点 -->
            <div class="back2">               
                <h2>【拠点】 CSVインポート</h2>
                <hr>
                <span style="color: red;">{{csv_message3}}</span>
                <form action="{% url 'trade_kyoten' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col-8"><input class="form-control form-control" type="file" name="csv"></div>
                    <div class="col"><button class="btn btn-primary" type="submit">取込</button></div>
                    </div>
                </form>
            </div>

            <!-- 手動方式 -->
            <div id="syudou" class="back2 mt-4">
                <h2>【品番】 手動登録 / 修正</h2>
                <hr>              
                <div style="margin-left: 5px;">
                    
                    <div class="form1 mt-3">                        

                        <form id="trade_hinban_ajax">                           
                            <div id="trade_hinban_comment"></div>
                            <div class="flex-all">
                                <div class="flex">
                                    <label for="trade_jan">JANコード:</label>
                                    <input class="form-control" type="text" id="trade_jan" style="width: 170px;margin:0 10px;">
                                        <button id="trade_jan_btn">確認</button>

                                </div>

                                <div class="flex">
                                    <div style="margin-top: -5px;">
                                        <div class="flex">
                                        <label for="trade_hinban" style="margin-left: 20px">品番:</label>
                                        <input class="form-control" type="text" id="trade_hinban" style="width: 130px;margin-left: 10px;">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary" id="trade_hinban_toroku" type="submit">登録</button>
                                </div>
                            </div>
                            <div style="color: red;">
                                登録時注意：「品番（TS-1719）+カラーコード(-044)」で登録して下さい（例：TS-1719-044）<br>※カラーコードはトレードHPで確認して下さい。
                            </div>                          
                        </form>
                            
                    </div>
      
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
  
        var csrftoken = getCookie('csrftoken');
  
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
  
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
  
  
  
        //確認
        $('#trade_jan_btn').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "trade_hinban_ajax" %}',
                'type': 'POST',
                'data': {
                    'trade_jan': $('#trade_jan').val(),
                },
                'dataType': 'json'
            })
            .done(function(response){
                var comment='<p class="mt-2" style="color: red;">' + response.comment + '</p>';
                var hinban=response.hinban;
                document.getElementById("trade_hinban_comment").innerHTML=comment; 
                document.getElementById("trade_hinban").value=hinban;               
            });
        });

        // 登録
        $('#trade_hinban_toroku').on('click', function(e) {
            e.preventDefault();
  
            $.ajax({
                'url': '{% url "trade_hinban2_ajax" %}',
                'type': 'POST',
                'data': {
                    'trade_jan': $('#trade_jan').val(),
                    'trade_hinban': $('#trade_hinban').val(),
                },
                'dataType': 'json'
            })
            .done(function(response){
                var comment='<p class="mt-2" style="color: red;">' + response.comment + '</p>';
                document.getElementById("trade_hinban_comment").innerHTML=comment; 
                document.getElementById("trade_jan").value="";
                document.getElementById("trade_hinban").value="";               
            });
        });
    </script>

</body>
</html>